html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.main{
    margin: 0 auto;
}
.main-page{
    width: 100%;
    height: 100%;
}
.background{
   width:100%;
   height: 100%;
   background-size: 100% 100%;
   background-image: url("../img/mobileground.gif") ;
   background-repeat: no-repeat;
}
.left-img{
  position: absolute;
  width: 100%;
  height: 80%;
  right: 50%;
  top: 20%;
  background:url("../img/shanxing.gif") no-repeat;
}
.top-img{
    position: absolute;
    width: 130%;
    bottom: 70%;
    right:-15%;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
    -webkit-animation: rotate 10s linear infinite;
    -moz-animation: rotate 10s linear infinite;
    -o-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
}
   @-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
       to{-webkit-transform: rotate(360deg)}
   }
   @-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
       to{-moz-transform: rotate(359deg)}
   }
   @-o-keyframes rotate{from{-o-transform: rotate(0deg)}
       to{-o-transform: rotate(359deg)}
   }
   @keyframes rotate{from{transform: rotate(0deg)}
       to{transform: rotate(359deg)}
   }

   .bottom-img{
    position: absolute;
    bottom: -25%;
}
.page-body{
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  .context{
        height: 75%;
        width: 90%;
        margin: 1rem auto;
        // position: absolute;
        top: 6rem;
        left: 1.2rem;
        font-size: 1.4rem;
        .people-model{
           height: 50%;
        }
    
  }
  .title{
    display: block;
    padding: 1rem 0;
}
}
.font{
    color: white;
    font-size: 1.5rem;
}
.seat{
    top: 2rem;
}
.page-1 { 
    .invite-img{
        margin: 1rem 0;
        margin-top: 4rem;
        position: relative;
        .han{
            position: absolute;
            top: 75%;
            left: 52%;
          }
    }
    .title{
        display: block;
        padding: 1rem 0;
    }
}
.page-2{
    .page-body{
        width: 100%;
        height: 100%;
    }
    .title{
        display: block;
        padding: 1rem 0;
    }
    .context-img{
        background: url("../img/context.png") no-repeat;
        height: 75%;
        width: 90%;
        margin: 1rem auto;
        opacity: 0.5;
    }
    .context{
        height: 75%;
        width: 90%;
        margin: 1rem auto;
        position: absolute;
        top: 6rem;
        left: 1.2rem;
        font-size: 1.4rem;
    }
} 
.people-info{
    .block{
        width: 85px;
        height: 85px;
        border: 2px solid white;
        opacity: 1;
        left: 20%;
        position: absolute;
    }
    .img-block{
        top: 40px;
        position: relative;
    }
    .line{
        position: relative;
        top: 40px;
        .base-line{
            display: inline-block;
            height: 3px;
            width: 25%;
            background-color: white;
        }
        .base-block{
            display: inline-block;
            height: 3px;
            width: 3px;
            background-color: white; 
            margin: 0 0.2rem;
        }
    }
    .people-res{
        display: block;
        position: relative;
        top: 45px;
    }

}
.page-4{
    .people-model{
        display: inline-block;
        position: relative;
        width: 30%;
        height: auto;
        .block{
            width: 60px;
            height: 40px;
            border: 2px solid white;
            opacity: 1;
            top: 10px;
            position: absolute;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
        }
        .img-block{
            top: 20px;
            img{
                width: 65px;
                animation-duration: 1s;
                -webkit-animation-duration: 1s;
                -moz-animation-duration: 1s;
            }
            position: relative;
        }
        .people-base{
         display: block;
         position: relative;
         top: 30px;
         margin: 5px;
         animation-timing-function: ease;
         -webkit-animation-timing-function: ease;
         -o-animation-timing-function: ease;
         animation-duration: 1s;
         -webkit-animation-duration: 1s;
         -moz-animation-duration: 1s;
        }
    }
}

@media screen and (min-width: 500px){
    .page{
        position: relative;
        height: 636px;
        width: 54px;
        top:-636px;
        left: 202px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 0 auto;

        .btn {
            cursor: pointer;
            text-align: center;
            width: 32px;
            font-size: 18px;
            margin: 20px 0 20px 0;
            padding: 18px 5px 18px 4px;
            background: #f6f9fa;       
            color: #3e4858;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .btn:hover{
            color: #f6f9fa;
            background-color: #08a1ef;
        }
     
     }
     .mobile {
        background: url(../img/mobile.svg) no-repeat;
        height: 636px;
        width: 350px;
        padding-left: 4.25px;
        margin-top: 160px;
        padding-right: 4.2px;
        padding-top: 88px;
        padding-bottom: 30px;
        background-size: 100%;
    }
    
    .code {
        position: relative;
        margin-left: 36px;
        width: 248px;
        height: 636px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        left: 400px;
        top: -1272px;
        margin: 0 auto;
    
        .code_panel {
            padding: 19px;
            width: 248px;
            height: 280px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 2px 2px 20px rgba(0,0,0,.1);
    
            .code_panel_top {
                font-size: 18px;
                height: 20px;
                color: #666;
                line-height: 20px;
            }
    
            .codeImg {
                margin: 12px 0;
                border: 1px solid #e6ebed;
                padding: 15px;
                height: 215px;
                width: 210px;
                
                img {
                    width: 176px;
                    height: 176px;
                }
            }
        }
    }
}